/CubeVolumeCalculator.class
/DeclaringMultipleVariableInSingleLine.class
/FinalVariable.class
/PrimitiveDataType.class
/PrimitiveDataTypeBoolean.class
/PrimitiveDataTypeChar.class
/PrimitiveTypeFloatAndDouble.class
/PrintStatementReview.class
/Variable.class
/VariableNamingRule.class
