/Dog.class
/DogObject.class
/DreamCar.class
/DreamCarObject.class
/Person.class
/Person2.class
/Person2Object.class
/PersonObject.class
/SecondCar.class
/SpeedTest.class
/Student.class
/StudentObject.class
